
body {
    background-color:papayawhip;
}

#deepseagreen {
    background-color: darkseagreen;
    width: 100%;
    height: 30%;
}


#treeImg {

    width: 40%;
    height: 30%;
    float: left;

}



header {
    text-align: center;
    font-size: 40pt;
    font-family:'Cambria';
    color:aliceblue;
    background-color: darkolivegreen;
}

.text {
    font-size: 12pt;
    font-family:Georgia;
    float: left;
    width: 60%;

}

#menu {
    
    float: right;
    height: 100%;
    width: 20vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: darkolivegreen;
    visibility:hidden;
}

#menuHolder {
    float: right;
    width:20vw;
}


#expandMenu {
    float: right;
    height: 2vw;
    width: 2vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color:darkslategray;
}

button {
    margin-left: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 15vw;
    height: 5vw;
    background-color: lightgreen;
    border-radius: 20%;
    border: 2px solid darkslategrey;
    
}

span {
    font-style: italic;
    
    color: blue;
}



 /*--asparagus: #60992dff;
--olivine: #8cae68ff;
--thistle: #d3c1d2ff;
--british-racing-green: #0e402dff;
--raw-umber: #946846ff;
*/

