
body {
    background-color:rgb(230, 226, 192);
}

div {
    background-color: rgb(74, 105, 47);
    width: 100%;
    height: 30%;

    float: left;

}


#treeImg {

    width: 40%;
    float: left;
    background-color: #0e402dff;

}



header {
    text-align: center;
    font-size: 40pt;
    font-family:'Cambria';
    color:aliceblue;
    background-color: #0e402dff;
}

.text {
    margin: 1%;
    font-size: 12pt;
    font-family:Georgia;
    float: left;
    width: 58%;

}

a {

    color: darkblue;
}

#menu {
    
    float: right;
    height: 100%;
    width: 0px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(74, 105, 47);
    transition: 0.5s;
    border-radius: 20px 0px 0px 20px;
}

#menuHolder {
    float: right;
    width:20vw;
}


#expandMenu {
    float: right;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    top: 0;
    background-color:#946846ff;
    border-radius: 0px 0px 0px 20px;
    
}

#menuImg {

    width: 40px;
    height: 40px;
    display: block;
    margin:auto;
    padding-top: 5px;
}

#menuHeader {
    width: inherit;
    height: 50px;    
    float: right;
    text-align: center;
    color:aliceblue;
    font-size: 22pt;



}

button {
    margin-left: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 200px;
    height:5vh;
    background-color: rgb(230, 226, 192);
    border-radius: 20%;
    border: 2px solid #946846ff;
}

button:hover {
    background-color: rgb(108, 151, 70);
}
button:active {
    background-color: rgb(74, 105, 47);
}

span {
    font-style: italic;
    
    color: darkblue;
}


#form {

text-align: center;
width: 400px;
margin: auto;
float:none;

}


table {
    background-color: rgb(230, 226, 192); 
    border:  2px solid;
    border-collapse: collapse;
    margin: 20px;

}

th, td {
    border: 1px solid;
    padding: 5px;

}

.article {
    height: min-content;
}

.flex-container{

    color: black;
}

.articleThumb {
    width: fit-content;
    height: fit-content;
    max-width: 22vw;
    margin: 1%;
    background-color: rgb(230, 226, 192); ;
    text-align: center;
    float: left;


}

.thumbnail {
    width:22vw;
    height:15vw;
}

 /*--asparagus: #60992dff;
--olivine: #8cae68ff;
--thistle: #d3c1d2ff;
--british-racing-green: #0e402dff;
--raw-umber: #946846ff;








--myrtle-green: #587b7fff;
--eerie-black: #1e2019ff;
--black-olive: #394032ff;
--olivine: #8dab7fff;
--mindaro: #cfee9eff;


*/

